<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="../../../assets/images/logo-removed.png" width="100" height="80" alt="GameLogo">
        <a class="navbar-brand" href="#">Game Shop</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="Games">Games</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                        >Contact Us</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="Support">Support</a>
                        <a class="dropdown-item" routerLink="News">News</a>
                        <a class="dropdown-item" routerLink="FAQ">FAQ</a>
                        <a class="dropdown-item" routerLink="AboutUs">About Us</a>
                    </div>
                </li>
            </ul>
            <app-search-game></app-search-game>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="CartItems">Cart(0)</a>
                </li>
                <li class="nav-item">
                    <div *ngIf="isPlayerLoggedIn == true ; then forIfBlock  else forElseBlock"></div>                    
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>

<div>
    <!-- <div *ngIf="isPlayerLoggedIn == true ; then forIfBlock  else forElseBlock"></div> -->
    
    <ng-template #forIfBlock>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                >{{playerUserName}}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="LogOut">LogOut</a>                
            </div>
        </li>
    </ng-template>

    <ng-template #forElseBlock>
        <a class="nav-link" routerLink="Players">LogIn</a>
    </ng-template>
</div>